@import url('https://fonts.googleapis.com/css?family=Acme');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body{
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.navbar,
.panel-white .header {
  font-family: 'Acme', sans-serif;
}

.navbar.background {
  height: 300px;
  background-image: url('../ressources/society/header_bg.png');
  color: #fff !important;
  transform: rotate(-2deg) scale(1.18);

}


.footer .container {
  transform: rotate(-2deg) scale(0.9);
}

.navbar .container {
  transform: rotate(2deg) scale(0.9);
}
.navbar .nav-item a {
  color: #fff !important;
  text-transform: uppercase;
  font-weight: 900;
}
.navbar .nav-item.active {
  border-bottom: 2px solid #ae2626;
}

.page-content {
  transform: rotate(-2deg) scale(1.03);
  border-top: 3px solid #ae2626;
 
  position: relative;
  top: 35px;
 

}


.page-content .container {
  transform: rotate(2deg);
  position: relative;
  top: -50px;
}

.panel-white {
  background-color:#fff;
  position: relative;
  top: 44px;
}
.panel-white .header {
  color:#fff;
  padding:10px;
  background-color: #ae2626;
  display: block;
  position: relative;
  top: -44px;
  font-size:18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}
.panel-white .header i{
  margin: 0 5px;
}
.panel-white > .content{
  position: relative;
  top: -44px;
  padding: 10px;
}
/*--------footer-----------*/

.obrez{
   height: auto;
   overflow: hidden;
   position: relative;
   bottom: -250px;
   padding-top: 50px;

 

}


footer{
  height: 250px;
  background-image: url('../ressources/society/footer_bg.png');
  
  transform: rotate(-2deg) scale(1.18);
 
  border-top: 3px solid #ae2626;
  position: relative;
 bottom: 0px;


  

}

.cont1 {
  
  margin: 0px;
  padding: 0px;
  position: relative;
bottom: 200px;
  

}

.contact_cont{
  margin-bottom: 10px;
}

.wo_marg{
  margin: 0px;
  padding: 0px;
}

@media (max-width: 768px){
  .obrez{bottom: -450px;}
  .wo_marg{
  padding-left: : 5px;
  padding-right: 5px;
  
}
}

@media (min-width: 768px){
  .obrez{bottom: -280px;}
    .wo_marg{
  padding-left: : 5px;
  padding-right: 5px;
  
}
}
