.page-content.product .visual img {
    width: 100%;
    height: 100%;
     object-fit:contain;
}


.status {
    padding: 10px;
    background-color: #42bf63a1;
    position: relative;
    width: 100%;
    text-align: center;
    color: #fff;
    top: -44px;
    margin-bottom: -58px;
}
.page-content.product .panel-white .col-md-4 {
    border-right: 1px solid #ededed;
}
.page-content.product .panel-white .category {
    padding: 10px;
    border:3px solid #ae2626;
    font-size: 1.3em;
    text-align: center;

}
.page-content.product .panel-white .description {
    padding: 7px 0px;
    font-size: 1em;
}

table{

  width: 100%;

  margin-top: 10px;
}
 tr, td{
   border-style: solid;
   border-color: #C0C0C0;
   border-width: 1px;
   padding:10px;
 }

 th{
   background-color: #FFF8DC !important;
   border-style: solid;
   border-color: #C0C0C0;
   border-width: 1px;
   padding:10px;
 }
